body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  display: inline-block;
  float:left;
  width:20vw;
}

form{
  display: inline-block;
float:center;
  width:70vw;
  margin-top: 25px;
  margin-bottom:50px;
}

.menu button {
  display: block;
  
  padding:25px;
  background-color:transparent;
  padding-left:50px;
  padding-right:50px;
}